.navbar {
    background-color: #6C0000;
}

.navbar a {
    color: white;
}

body{
    color: #4b1332;
}



.whoWeAre-container {
    background-color: #FCC802;
}

.whoWeAre-container h4 {
    padding-top: 20px;
    padding-bottom: 30px;
}

.margin {
    padding-top: 30px;
    padding-bottom: 20px;
}

.parceiras {
    background-color: #FB074C;
}
