@media (max-width: 768px) {
    .card {
        width: 100% !important;
    }   
}

@media (prefers-color-scheme: dark) {
    .whoWeAre-container h3 {
        color: #4b1332 !important;
    }
    
    .whoWeAre-container h4 {
        color: #4b1332 !important;
    }
    
}

.navbar {
    background-color: #6C0000;
}

.navbar a {
    color: white;
}

body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.whoWeAre-container {
    background-color: #FCC802;
}

.whoWeAre-container h3 {
    color: #4b1332 !important;
}

.whoWeAre-container h4 {
    color: #4b1332 !important;
}

.parceiras {
    background-color: #270113;
}

.parceiras h3 {
    color: #AFF0B7;
}

.chifrudo {
    background-color: #FD2976;
}

.whoWeAre-container h4 {
    padding-top: 20px;
    padding-bottom: 30px;
}

.margin {
    padding-top: 30px;
    padding-bottom: 20px;
}

.nav-link {
    color:  #FCC802 !important;
}

.col-lg-4 {
    margin-top: 30px;
}

.chifrudo {
    color: #ffe400;
    
}

.chifrudo p {
    font-size: 11px;
}

.card {
    width: 20rem;
}
